<!DOCTYPE html>
            <html>
            <head>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>Space Agents</title>
                <style>
                    #media-container {
                        display: flex;
                        flex-wrap: wrap;
                    }
                    .media {
                        margin: 10px;
                        border: 1px solid black;
                    }
                </style>
            </head>
            <body>
                <h1 style="text-align:center; font-size:36px; font-weight:bold;">Space Agents</h1>
                <div id="media-container">
                    <video class="media" width="320" height="240" controls>
                        <source src="../static/media/Final Space Agents Video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
            
                    <!-- Add your 10 photos here -->
                    <img class="media" src="../static/media/client view.PNG" alt="Photo 1">
                    <img class="media" src="../static/media/Game Launcher Download Bar.PNG" alt="Photo 2">
                    <img class="media" src="../static/media/Game Launcher Download Button.PNG" alt="Photo 3">
                    <img class="media" src="../static/media/NodeJS Backend.PNG" alt="Photo 4">
                    <img class="media" src="../static/media/postgresql.PNG" alt="Photo 5">
                    <img class="media" src="../static/media/Space Agent Crouch.PNG" alt="Photo 6">
                    <img class="media" src="../static/media/Space Agent Jump.PNG" alt="Photo 7">
                    <img class="media" src="../static/media/Space Agent Walk.PNG" alt="Photo 8">
                    <img class="media" src="../static/media/Space Agents.PNG" alt="Photo 9">
                    <img class="media" src="../static/media/token sent across.PNG" alt="Photo 10">
                </div>
            </body>
            </html>